# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
env/
venv/
ENV/

# Environment variables
.env
.env.*

# SQLite databases & temp files
*.db
*.sqlite
*.sqlite3
*.db-journal
*.db-wal
*.db-shm

# IDE / Editor artifacts
.vscode/
.idea/
*.swp
*.swo
